//designer stuff here - globals, fonts, colors, etc

//colors
$header-color: white;
$white-text:white;
$orange-text: #fa962a;
$text-background: url(../images/sakura.png);
$icon-text:grey;
$about-div:#82ca9c;
$button-color: #82ca9c;
