//designer stuff here - globals, fonts, colors, etc

//colors
$header-color: #acd373;
$white-text: #fff;
$orange-text: #fa962a;
$text-background: #ffff7a;
$icon-text: #7f8eff;
$about-div: #fbaf5d;
$button-color: #82ca9c;
