
//import vars and module


//import required modules 








//these are my main styles-> sidebar


@import '_var';



/*colors
#82ca9c ---green
#fbaf5d ----orange
*/





/*General rules here for elements*/

body{background-color: white;}
h2{padding: 50px; font-size:50px; color: black;font-family: 'Dancing Script', cursive;text-align: center;}
p{color: #604A4A;font-family: 'Yantramanav', sans-serif;font-size:20px;}


#indexPage,#aboutPage,#workPage{margin-bottom: 100px;}








/*header goes here*/

#headerCon {background-color: white;
            /*  position: fixed;*/
            /*z-index: 1;*/ }

#mainNav {
  margin: 0;
  padding: 0;
 /* width: 345px;*/
  height: 45px;
  float: right;
 
  margin-top: 60px; }

#mainNav li {
  float: left;
	list-style-type: none;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 20px;
 }

ul {
  list-style-type: none; }

#mainNav li a {
  display: inline;
  width: 100px;
  text-align: center;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  background-color: #82ca9c; }

#mainNav li a:hover{background-color: white;color:#82ca9c; }
#logo{
	margin-top: -100px;
	max-width: 200px;
	margin-left: 100px;
}


.button{background-color: #8ea56d;}
.button:hover{background-color: #215445;}


/*index page start here--------------*/
#banner{/*background-color: #82ca9c;*/
	background: url(../images/sakura.png);}
#banner h2, #banner p {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: black; }

#banner p {
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }


#banner {
  /*background-color: #acd373;*/
  padding-bottom: 60px;
  padding-top: 110px; }






/*About page start--------------*/
#lingDiv, #liaDiv {
  background-color: #82ca9c;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px; }

#lingName {
  float: right;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 50px; }

#liaName {
  float: left;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-left: 20px; }

.lingLiaText {
  color: #fff;
  text-align: center;
  margin-top: 110px; }





/*icon section*/

.icon {
  max-width: 80%;
  margin: 0 auto;
  opacity: .6; }
.icon:hover{background-color:#82ca9c;}

#iconRow {
  margin-top: 40px; }


.iconText {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: gray;
  margin-left: 15px; }



/*work page start --------------------------*/
#lingLogo {
 /* background-color: #acd373;*/
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px; }

#videoArea {
  text-align: center;
 /* background-color: #fbaf5d;*/
  padding-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 40px; }













/*contact page start --------------------*/

#formPartten {
 background: url(../images/sakura.png);
 /* padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 20px;
  margin-bottom: 30px;*/

}

#contactForm{padding: 10px;}

/*#textAreaP {
  color: #fa962a;
  margin: 50px; }*/









/*footer goes here*/

#footerCon {
  background-color: #82ca9c;}

#footerText {
  float: right;
  color: black;}


  /*media queries*/
  @media only screen and (max-width: 640px) {
    
    header {
        // background-color: $header-color;
        background-color:$header-color;
        position: absolute;
        
    }

    #mainNav {
        margin: 0;
        padding: 0;
        width: 745px;
        height: 45px;
        float: right;
        text-align: center;
        
        
        
    }

    #banner h2, #banner p {
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
        color: $white-text;
    }
    
    #banner p {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    
    
    
    #mainNav {
        margin: 0;
        padding: 0;
        width: 345px;
        height: 45px;
        float: right;
        margin-left: 1200px;
        margin-top: 60px;
        
    }
    
    #mainNav li {
        float: left;
        text-decoration: none;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 20px;
        background-color: $header-color;
    }
    
    ul {
        list-style-type:none;
    }
    
    #mainNav li a {
        display: inline;
        width: 100px;
        text-align: center;
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
        border-radius: 7px;
        text-decoration: none;
        color: $white-text;
        background-color: $button-color;
    }
    
    #banner {
        background-color: $header-color;
        padding-bottom: 20px;
        padding-top: 150px;
    }
    
    #lingDiv, #liaDiv {
        background-color: $about-div;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
    }
    #lingName {
        float: none;
        color: $white-text;
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    #liaName {
        float: none;
        color: $white-text;
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        text-align: center;
    }
    
    .lingLiaText {
        color: $white-text;
        text-align: center;
        margin-top:20px;
        
    }
    
    
    #lingLogo {
      text-align: center;
        background-color: $header-color;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 20px;
    }
    
    #videoArea {
        text-align: center;
        
        padding-left: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
        border-radius: 20px;
        padding: 40px;
    }
    
    #textArea {
        background-color: $text-background;
        padding-top: 30px;
        padding-bottom: 50px;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    
    #textAreaP {
        color: $about-div;
        margin: 50px;
    }
    

  }

  @media only screen and (max-width: 50em) {

  #videoArea{width: 50%;}
  #iconRow{width: 20%;}
  .iconText{font-size: 10px;}
  .icon{display: inline;}
  }


